@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #f0f4fe;
	--color-primary-100: #dde6fc;
	--color-primary-200: #c2d4fb;
	--color-primary-300: #98b9f8;
	--color-primary-400: #6894f2;
	--color-primary-500: #537aee;
	--color-primary-600: #2f50e1;
	--color-primary-700: #263ccf;
	--color-primary-800: #2533a8;
	--color-primary-900: #233085;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}
